$brand-primary:         darken(#ff8c00, 6.5%)!default;
$font-size-base:          14px !default;
$font-family-sans-serif:  "Lato","Roborto", Helvetica, Arial, sans-serif !default;
$font-family-base:        "Lato","Roborto", Helvetica, Arial, sans-serif !default;
$font-family-serif:  "Lato","Roborto", Helvetica, Arial, sans-serif !default; 
$font-family-monospace: "Lato","Roborto", Helvetica, Arial, sans-serif !default; //This is I want to override all fonts used with default bootstrap to sans-serif
$padding-size: 12px!default;
$margin-size:17px!default;
$font-family-two: "Comfortaa", cursive,"Ubuntu",sans-serif !default;;
$brand-secondary: #18839a!default;
$brand-warning:   #18839a !default;
$quote-person: #667278 !default;
